<body>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
    </style> 

</body>
<br>
<br>
<h1 align="center">Customer Details</h1>

<br>
<br>
<div align="center">
 <table align="center">
   <tr><td>Id</td><td>:</td><td>{{CustomerId}}</td></tr>   
   <tr><td>Name</td><td>:</td><td>{{firstname}} {{lastname}}</td></tr>        
   <tr><td>Email</td><td>:</td><td>{{email}}</td></tr>
   <tr><td>Active</td><td>:</td><td>{{active}}</td></tr>
   <tr><td>Date Created</td><td>:</td><td>{{datec}}</td></tr>
   <tr><td>Dated Updated</td><td>:</td><td>{{dateu}}</td></tr>
   <tr><td>rating</td><td>:</td><td><div class="rating" align="left">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div></td></tr>
    <tr></tr>
 </table>
     



</div>
